{% extends 'base.html' %}
{% block title %}Заявки{% endblock title %}
{% block content %}
    {% for obj in qs %}
        <div class="ui segment">
            <div>
                <div>
                    <div>
                        <img width="200" src={{obj.avatar.url}}>
                    </div>
                    <div>
                        <h3>{{obj.user}}</h3>
                        <br>
                        <form action="{% url 'accept-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" >
                                Принять
                            </button>
                        </form>
                         <form action="{% url 'reject-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit">
                                Отклонить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for obc in qw %}
                <div class="ui segment">
            <div>
                <div>
                    <div>
                        <img width="200" src={{obc.avatar.url}}>
                    </div>
                    <div>
                        <h3>{{obc.user}}</h3>
                        <br>
                        <button>В ожидании подтверждения</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}