{% extends 'base.html' %}
{% block title %}Профиль{% endblock title %}
{% block content %}
<div class="container">

<div>
  <div>
    <div>
      <img width="200" src="{{profile.avatar.url}}">
    </div>
    <div>
     <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
    </div>
  </div>
  <div class="actions">
    <button type='submit'>
      Обновить
    </button>
    </form>
  </div>
</div>

<h1>{{profile.user}}</h1>

<table >
<tr><th>Друзья:</th>
    <th>
        <ul>
            {% for friend in profile.get_friends %}
                <li>{{friend}}</li>
            {% endfor %}
        </ul>
    </th>
</tr>
</table>
</div>
{% endblock content %}